In [1]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

In [3]:
# load data
search_df = dd.from_pandas(pd.read_excel('data/01_raw/search_df.xlsx'), npartitions=6)
merged_df = dd.read_csv('data/06_merged_results/merged_df.csv')
target_df = dd.from_pandas(pd.read_excel('data/01_raw/target_df.xlsx'), npartitions=6)

In [4]:
target_df

Dask DataFrame Structure:
              ISSUER_NAME   No.
npartitions=6
0                  object  int64
1972                  ...    ...
...                   ...    ...
9860                  ...    ...
11828                 ...    ...
Dask Name: from_pandas, 6 tasks

In [5]:
# length check
assert target_df.shape[0].compute() == merged_df.shape[0].compute()

In [6]:
merged_df

Dask DataFrame Structure:
              Target Name Target No. Top Match Name Top Match No. Top Match Score All Matched
npartitions=1
                   object      int64         object         int64           int64      object
                      ...        ...            ...           ...             ...         ...
Dask Name: read-csv, 1 tasks

In [7]:
assert np.all(merged_df['Top Match Name'].compute().isin(search_df['Full Name'].compute()))

In [20]:
assert np.all(merged_df['Target Name'].compute().isin(target_df['ISSUER_NAME'].compute()))

In [24]:
assert not np.all(merged_df['Top Match Name'].compute().isin(target_df['ISSUER_NAME'].compute()))