In [1]:
import os
import numpy as np
import pandas as pd
import dask.dataframe as dd

## Convert to csv

### Target

In [4]:
target_df = pd.read_excel(os.path.join('data', '01_raw', 'target.xlsx'))
print(target_df.shape)
target_df.head()

(13668, 2)

                                     ISSUER_NAME   No.
0                             Hexcel Corporation  20123
1                                        IWG PLC   5662
2  Japan Finance Organization for Municipalities  13568
3                 Clover Health Investments Corp  25127
4                Forum Energy Technologies, Inc.  23063

In [3]:
target_df.to_csv(os.path.join('data', '02_primary', 'target.csv'), index=False)

### Search

In [6]:
search_df = pd.read_excel(os.path.join('data', '01_raw', 'search.xlsx'))
print(search_df.shape)
search_df.head()

(284035, 3)

                    NAME              Full Name  No. ID
0  RAYTHEON TECHNOLOGIES  Raytheon Technologies       1
1        LOCKHEED MARTIN        Lockheed Martin       2
2                 AIRBUS                 Airbus       3
3                 BOEING                 Boeing       4
4       NORTHROP GRUMMAN       Northrop Grumman       5

In [7]:
search_df.to_csv(os.path.join('data', '02_primary', 'search.csv'), index=False)

In [11]:
import os
import modin.pandas as pd
import ray

ray.shutdown()
ray.init()

os.environ["MODIN_CPUS"] = "6"

2022-07-14 16:59:09,339	INFO services.py:1456 -- View the Ray dashboard at http://127.0.0.1:8265

In [13]:
a = pd.read_csv(os.path.join('data', '02_primary', 'target.csv'))
a.head()

                                     ISSUER_NAME   No.
0                             Hexcel Corporation  20123
1                                        IWG PLC   5662
2  Japan Finance Organization for Municipalities  13568
3                 Clover Health Investments Corp  25127
4                Forum Energy Technologies, Inc.  23063

In [14]:
a.columns

Index(['ISSUER_NAME', 'No. '], dtype='object')

In [15]:
a['No. '].apply(lambda x: 0)

0        0
1        0
2        0
3        0
4        0
        ..
13663    0
13664    0
13665    0
13666    0
13667    0
Name: No. , Length: 13668, dtype: int64