In [19]:
import os
import pickle
import numpy as np
import pandas as pd
import dask.dataframe as dd
from typing import List, Dict
from dask.diagnostics import ProgressBar
ProgressBar().register()

## Test

In [9]:
# replace_dict = {'bank corporation': 'bank', 'bank corporate': 'bank', 'bank corp': 'bank'}

# test_names = ['ORIX Bank Corporation', 'LLOYDS BANK CORPORATE MARKETS PLC', 'Trustco Bank Corp']

In [7]:
# from typing import List, Dict

# to_remove_words_list = [
#     "inc",
#     "inc.",
#     "incorporated",
#     "llc",
#     "l.l.c.",
#     "l.l.c",
#     "co.",
#     "securities",
#     "security",
#     "s.a.",
#     "s.a",
#     "l.p.",
#     "plc",
#     "ag",
#     "s.a.s",
#     "s.a.s.",
#     "s.p.a.",
#     "s.p.a",
#     "sa",
#     "ab",
#     "trust",
#     "limited",
#     "ltd",
#     "ltd.",
# ]

# replace_dict = {'bank corporation': 'bank', 'bank corporate': 'bank', 'bank corp': 'bank'}

# def preprocess(cur_txt: str, to_remove_words_list: List=to_remove_words_list, replace_dict: Dict=replace_dict) -> str:
#     """
#     Preprocess names before matching:
#     1. remove commas
#     2. replace by name
#     3. remove words in to_remove_words_list

#     Args:
#         cur_txt (str): current name
#         to_remove_words_list (List[srt]): list of words to remove

#     Returns:
#         str: preprocessed equity name
#     """
#     #* 0. lower the name
#     cur_txt = cur_txt.lower()
#     #* 1. replace comma
#     cur_txt = cur_txt.replace(",", "")
#     #* 2. replace by name
#     for cur_key in replace_dict:
#         if cur_key in cur_txt:
#             cur_txt = cur_txt.replace(cur_key, replace_dict[cur_key])
#             break
#     #* 3. remove words in to_remove_words_list
#     cur_txt = cur_txt.split(" ")
#     result_str_list = [
#         cur_word
#         for cur_word in cur_txt
#         if cur_word not in to_remove_words_list
#     ]

#     return " ".join(result_str_list).strip()

In [12]:
# preprocess(test_names[2])

'trustco bank'

## Convert to csv

In [2]:
# search df
search_df = pd.read_excel(os.path.join('data', '01_raw', 'search_df.xlsx'))
search_df.head()

                           Full Name  No.
0                     1 MAJ Metalska     1
1  1 MAJ Zavrsni Rad Gradjevinarstvu     2
2                        1300 Smiles     3
3                2 Park Street Trust     4
4                25 Novembar Celinac     5

In [3]:
search_df.to_csv(os.path.join('data', '02_primary', 'search.csv'), index=False)

In [4]:
# target df
target_df = pd.read_excel(os.path.join('data', '01_raw', 'target_df.xlsx'))
target_df.head()

                 Target Name  Target No.
0               3I Group PLC         190
1      3I INFRASTRUCTURE PLC       12378
2              4finance S.A.       15299
3  50Hertz Transmission GmbH        7693
4        6PM HOLDINGS P.L.C.       15484

In [5]:
target_df.to_csv(os.path.join('data', '02_primary', 'target.csv'), index=False)

In [6]:
target_df.shape

(8270, 2)

In [7]:
target_df.columns

Index(['Target Name', 'Target No.'], dtype='object')

## Split Target Df

In [9]:
target_df = pd.read_csv("data/02_primary/target.csv")
print(target_df.shape)
target_df = dd.from_pandas(target_df, npartitions=100)
target_df

(8270, 2)

Dask DataFrame Structure:
                Target Name Target No.
npartitions=100
0                    object      int64
83                      ...        ...
...                     ...        ...
8217                    ...        ...
8269                    ...        ...
Dask Name: from_pandas, 100 tasks

In [10]:
target_df.to_csv('data/04_splits/*.csv', index=False)

[########################################] | 100% Completed |  0.3s

['/research/haohang/text_matching/data/04_splits/00.csv',
 '/research/haohang/text_matching/data/04_splits/01.csv',
 '/research/haohang/text_matching/data/04_splits/02.csv',
 '/research/haohang/text_matching/data/04_splits/03.csv',
 '/research/haohang/text_matching/data/04_splits/04.csv',
 '/research/haohang/text_matching/data/04_splits/05.csv',
 '/research/haohang/text_matching/data/04_splits/06.csv',
 '/research/haohang/text_matching/data/04_splits/07.csv',
 '/research/haohang/text_matching/data/04_splits/08.csv',
 '/research/haohang/text_matching/data/04_splits/09.csv',
 '/research/haohang/text_matching/data/04_splits/10.csv',
 '/research/haohang/text_matching/data/04_splits/11.csv',
 '/research/haohang/text_matching/data/04_splits/12.csv',
 '/research/haohang/text_matching/data/04_splits/13.csv',
 '/research/haohang/text_matching/data/04_splits/14.csv',
 '/research/haohang/text_matching/data/04_splits/15.csv',
 '/research/haohang/text_matching/data/04_splits/16.csv',
 '/research/haohang/text_matching/data/04_splits/17.csv',
 '/research/haohang/text_matching/data/04_splits/18.csv',
 '/research/haohang/text_matching/data/04_splits/19.csv',
 '/research/haohang/text_matching/data/04_splits/20.csv',
 '/research/haohang/text_matching/data/04_splits/21.csv',
 '/research/haohang/text_matching/data/04_splits/22.csv',
 '/research/haohang/text_matching/data/04_splits/23.csv',
 '/research/haohang/text_matching/data/04_splits/24.csv',
 '/research/haohang/text_matching/data/04_splits/25.csv',
 '/research/haohang/text_matching/data/04_splits/26.csv',
 '/research/haohang/text_matching/data/04_splits/27.csv',
 '/research/haohang/text_matching/data/04_splits/28.csv',
 '/research/haohang/text_matching/data/04_splits/29.csv',
 '/research/haohang/text_matching/data/04_splits/30.csv',
 '/research/haohang/text_matching/data/04_splits/31.csv',
 '/research/haohang/text_matching/data/04_splits/32.csv',
 '/research/haohang/text_matching/data/04_splits/33.csv',
 '/research/haohang/text_matching/data/04_splits/34.csv',
 '/research/haohang/text_matching/data/04_splits/35.csv',
 '/research/haohang/text_matching/data/04_splits/36.csv',
 '/research/haohang/text_matching/data/04_splits/37.csv',
 '/research/haohang/text_matching/data/04_splits/38.csv',
 '/research/haohang/text_matching/data/04_splits/39.csv',
 '/research/haohang/text_matching/data/04_splits/40.csv',
 '/research/haohang/text_matching/data/04_splits/41.csv',
 '/research/haohang/text_matching/data/04_splits/42.csv',
 '/research/haohang/text_matching/data/04_splits/43.csv',
 '/research/haohang/text_matching/data/04_splits/44.csv',
 '/research/haohang/text_matching/data/04_splits/45.csv',
 '/research/haohang/text_matching/data/04_splits/46.csv',
 '/research/haohang/text_matching/data/04_splits/47.csv',
 '/research/haohang/text_matching/data/04_splits/48.csv',
 '/research/haohang/text_matching/data/04_splits/49.csv',
 '/research/haohang/text_matching/data/04_splits/50.csv',
 '/research/haohang/text_matching/data/04_splits/51.csv',
 '/research/haohang/text_matching/data/04_splits/52.csv',
 '/research/haohang/text_matching/data/04_splits/53.csv',
 '/research/haohang/text_matching/data/04_splits/54.csv',
 '/research/haohang/text_matching/data/04_splits/55.csv',
 '/research/haohang/text_matching/data/04_splits/56.csv',
 '/research/haohang/text_matching/data/04_splits/57.csv',
 '/research/haohang/text_matching/data/04_splits/58.csv',
 '/research/haohang/text_matching/data/04_splits/59.csv',
 '/research/haohang/text_matching/data/04_splits/60.csv',
 '/research/haohang/text_matching/data/04_splits/61.csv',
 '/research/haohang/text_matching/data/04_splits/62.csv',
 '/research/haohang/text_matching/data/04_splits/63.csv',
 '/research/haohang/text_matching/data/04_splits/64.csv',
 '/research/haohang/text_matching/data/04_splits/65.csv',
 '/research/haohang/text_matching/data/04_splits/66.csv',
 '/research/haohang/text_matching/data/04_splits/67.csv',
 '/research/haohang/text_matching/data/04_splits/68.csv',
 '/research/haohang/text_matching/data/04_splits/69.csv',
 '/research/haohang/text_matching/data/04_splits/70.csv',
 '/research/haohang/text_matching/data/04_splits/71.csv',
 '/research/haohang/text_matching/data/04_splits/72.csv',
 '/research/haohang/text_matching/data/04_splits/73.csv',
 '/research/haohang/text_matching/data/04_splits/74.csv',
 '/research/haohang/text_matching/data/04_splits/75.csv',
 '/research/haohang/text_matching/data/04_splits/76.csv',
 '/research/haohang/text_matching/data/04_splits/77.csv',
 '/research/haohang/text_matching/data/04_splits/78.csv',
 '/research/haohang/text_matching/data/04_splits/79.csv',
 '/research/haohang/text_matching/data/04_splits/80.csv',
 '/research/haohang/text_matching/data/04_splits/81.csv',
 '/research/haohang/text_matching/data/04_splits/82.csv',
 '/research/haohang/text_matching/data/04_splits/83.csv',
 '/research/haohang/text_matching/data/04_splits/84.csv',
 '/research/haohang/text_matching/data/04_splits/85.csv',
 '/research/haohang/text_matching/data/04_splits/86.csv',
 '/research/haohang/text_matching/data/04_splits/87.csv',
 '/research/haohang/text_matching/data/04_splits/88.csv',
 '/research/haohang/text_matching/data/04_splits/89.csv',
 '/research/haohang/text_matching/data/04_splits/90.csv',
 '/research/haohang/text_matching/data/04_splits/91.csv',
 '/research/haohang/text_matching/data/04_splits/92.csv',
 '/research/haohang/text_matching/data/04_splits/93.csv',
 '/research/haohang/text_matching/data/04_splits/94.csv',
 '/research/haohang/text_matching/data/04_splits/95.csv',
 '/research/haohang/text_matching/data/04_splits/96.csv',
 '/research/haohang/text_matching/data/04_splits/97.csv',
 '/research/haohang/text_matching/data/04_splits/98.csv',
 '/research/haohang/text_matching/data/04_splits/99.csv']

## Preprocess Search df

In [20]:
search_df = pd.read_csv(os.path.join('data', '02_primary', 'search.csv'))
search_df.shape

(317751, 2)

In [ ]:
to_remove_words_list = [
    "inc",
    "inc.",
    "incorporated",
    "llc",
    "l.l.c.",
    "l.l.c",
    "co.",
    "securities",
    "security",
    "s.a.",
    "s.a",
    "l.p.",
    "plc",
    "ag",
    "s.a.s",
    "s.a.s.",
    "s.p.a.",
    "s.p.a",
    "sa",
    "ab",
    "trust",
    "limited",
    "ltd",
    "ltd.",
]

replace_dict = {'bank corporation': 'bank', 'bank corporate': 'bank', 'bank corp': 'bank'}

In [14]:
def preprocess(cur_txt: str, to_remove_words_list: List=to_remove_words_list, replace_dict: Dict=replace_dict) -> str:
    """
    Preprocess names before matching:
    1. remove commas
    2. replace by name
    3. remove words in to_remove_words_list

    Args:
        cur_txt (str): current name
        to_remove_words_list (List[srt]): list of words to remove

    Returns:
        str: preprocessed equity name
    """
    #* 0. lower the name
    cur_txt = cur_txt.lower()
    #* 1. replace comma
    cur_txt = cur_txt.replace(",", "")
    #* 2. replace by name
    for cur_key in replace_dict:
        if cur_key in cur_txt:
            cur_txt = cur_txt.replace(cur_key, replace_dict[cur_key])
            break
    #* 3. remove words in to_remove_words_list
    cur_txt = cur_txt.split(" ")
    result_str_list = [
        cur_word
        for cur_word in cur_txt
        if cur_word not in to_remove_words_list
    ]

    return " ".join(result_str_list).strip()

In [ ]:
search_df['preprocessed'] = search_df['Full Name'].apply(preprocess)
with open(os.path.join('data', '03_feature', 'search_df.pkl'), 'wb') as f:
    pickle.dump(search_df, f)

In [15]:
# search_df['preprocessed'] = search_df['Full Name'].apply(preprocess)
# search_list = search_df['preprocessed'].tolist()

In [17]:
# search_df_preprocessed2full_name = {cur_row['preprocessed']: cur_row['Full Name'] for _, cur_row in search_df.iterrows()}
# search_df_full_name2id = {cur_row['Full Name']: cur_row['No. '] for _, cur_row in search_df.iterrows()}

In [18]:
# # save as pickle
# with open(os.path.join('data', '03_feature', 'search_list.pkl'), 'wb') as f:
#     pickle.dump(search_list, f)
# with open(os.path.join('data', '03_feature', 'search_df_preprocessed2full_name.pkl'), 'wb') as f:
#     pickle.dump(search_df_preprocessed2full_name, f)
# with open(os.path.join('data', '03_feature', 'search_df_full_name2id.pkl'), 'wb') as f:
#     pickle.dump(search_df_full_name2id, f)